.button {
	@apply relative flex justify-center items-center overflow-hidden px-8 h-[72px] rounded-[6px] text-[18px] text-black/80 font-bold border-2 border-[#DDCEB3] transition duration-300;
	
	&.light {
		background: #DABA81;
	}
	
	&.dark {
		background: #C68615;
	}
}

.circle {
	@apply absolute top-0 left-1/3 w-16 h-16 blur-xl transition-all;
	
	&.light {
		background: #E9CD9B;
	}
	
	&.dark {
		background: #DAB370;
	}
	
	.button:hover & {
		@apply left-0 w-full;
	}
}

.button > span {
	@apply z-10;
}

